<div *ngIf="hasMovies()">
    
    <input type="search" 
        placeholder="filter"
        class="form-control"
        [(ngModel)]="filterText">

    <section *ngFor="let movie of movies | moviesFilter:filterText" class="inline">
        <div class="card">
            <img src="img/{{ movie.imgUrl }}" 
                [alt]="movie.name" 
                [title]="movie.name">
                
            <section>
                <header>{{movie.name}}</header>
                <div class="genre">{{movie.genre}}</div>
            </section>
        </div>

    </section>
    
</div>

<div *ngIf="!hasMovies()">
    <h3>There are no movies to display :(</h3>
</div>