header {
    height: 65px;
    padding-top: 15px;
    font-size: 1.15em;
    font-weight: bold;
}

.card {
    display: inline-block;
    width: 175px;
    padding: 12px;
    border:solid 1px #ccc;
    margin:15px;
    border-radius: 3px;
}

.card:hover {
    background-color:#eee;
    cursor: pointer;
}

.genre {
    font-size: .8em;
    background-color:#ddd;
    padding: 4px;
}